#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  .left-col {
    .users-panel {
      text-align-last: left;
      border-radius: 50px;
      border: 1px solid;
      padding: 0 0 1.5em 0;
      .filter-user {
        width: 300px;
        margin: 1em auto;
        label {
          width: 60px;
          display: inline-block;
          font-weight: bold;
        }
        button {
          margin-left: .6em;
        }
      }
      .user {
        margin: 1em .6em;
        border: 1px solid;
        padding:  0 1em 1em;
        .row {
          padding: .2em .6em;
          &:first-child {
            label {
               width: auto;
            }
          }
          label {
            width: 60px;
            display: inline-block;
            font-weight: bold;
          }
          &.other-data {
            border: 1px solid;
            border-radius: 20px;
            width: 80%;
            padding: 1em;
            margin: 1em 0;
            background-color: #eee;
            .row {
                label {
                  width: 80px;
                }
            }
          }
          .user-id-btn {
            &:hover {
              text-decoration: underline;
              color: purple;
              cursor: pointer;
            }
          }
        }
        .buttons-row {
          display: grid;
          grid-template-columns: auto auto;
          margin-top: 1em;
          div {
            display: flex;
            align-items: end;
            flex-flow: column;
            &:first-child {
              align-items: start;
              span {
                button {
                  margin-left: 0; 
                }
              }
            }
          }
          span {
            &:last-child {
              button {
                margin-left: .6em;
              }
            }
          }
        }
      }
    }
  }
  .right-col {
    grid-column-start: 2;
    grid-column-end: 6;
    .add-user-form {
      padding: 1em;
      .title {
        text-align: left;
        padding-bottom: .5em
      }
      &_form {
        border: 1px solid;
        padding: 1em;
        text-align: left;
        .row {
          label {
            width: 100px;
            display: inline-block;
          }
          &.buttons {
            margin-top: 1em;
            text-align: right;
            input {
              margin-left: .5em;
            }
          }
        }
      }
    }
    .user-data-panel {
      text-align: left;
      .add-todo-form {
        @extend .add-user-form;
      }
      .add-post-form {
        @extend .add-user-form;
      }
      .user-items {
        &.set-border {
          .user-items-list {
            border: 1px solid;
          }
        }
        &-title {
          padding: 1em;
          div.title-row {
            display: grid;
            grid-template-columns: auto auto;
            span {
              line-height: 40px;
              padding-bottom: 5px;
              &:first-child {
                font-weight: bold;
              }
              &:last-child {
                text-align: right;
              }
            }
          }
        }
        &-list {
          padding: 1em;
          &-item {
            border: 1px solid;
            padding: 1em;
            display: grid;
            grid-template-columns: auto auto auto;
            margin-bottom: 1em;
            line-height: 1;
            &:last-child {
              margin-bottom: 0;
            }
            &-title, &-status {
              grid-column-start:1;
              grid-column-end:3;
              margin-bottom: .5em;
              span {
                &:first-child {
                  display: inline-block;
                  width: 100px;
                }
                &:last-child {
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  overflow: hidden;
                  display: inline-block;
                  width: 150px;
                }
              }
            }
            &-status-btn {
              text-align: right;
              .completed {
                color: white;
                background-color: green;
                border-color: white;
              }
            }
            &.post {
              grid-template-columns: auto auto;
            }
          }
        }
      }
    }
  }
}
