#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 10px;
  .left-col {
    .users-panel {
      text-align-last: left;
      border-radius: 50px;
      border: 1px solid;
      padding: 0 0 1.5em 0;
      .filter-user {
        width: 300px;
        margin: 1em auto;
        label {
          width: 60px;
          display: inline-block;
          font-weight: bold;
        }
        button {
          margin-left: .6em;
        }
      }
      .user {
        margin: 1em .6em;
        border: 1px solid;
        padding:  0 1em 1em;
        .row {
          padding: .2em .6em;
          &:first-child {
            label {
               width: auto;
            }
          }
          label {
            width: 60px;
            display: inline-block;
            font-weight: bold;
          }
          &.other-data {
            border: 1px solid;
            border-radius: 20px;
            width: 80%;
            padding: 1em;
            margin: 1em 0;
            background-color: #eee;
            .row {
                label {
                  width: 80px;
                }
            }
          }
        }
        .buttons-row {
          display: grid;
          grid-template-columns: auto auto;
          margin-top: 1em;
          div {
            display: flex;
            align-items: end;
            flex-flow: column;
            &:first-child {
              align-items: start;
              span {
                button {
                  margin-left: 0; 
                }
              }
            }
          }
          span {
            &:last-child {
              button {
                margin-left: .6em;
              }
            }
          }
        }
      }
    }
  }
  .right-col {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}

